.table {
  width: 600px;
  border-collapse: collapse;
  border-spacing: 0;
  border-color: black;
}

.table thead {
  background-color: black;
  color: #fff;
}
.table th,
.table td {
  border: 1px solid black;
  outline: none;
  font-size: 18px;
  padding: 5px 0;
}
.table tbody tr:nth-child(even) {
  background-color: #c9abab;
}

.table tbody tr td:nth-child(1) {
  width: 200px;
  text-align: left;
  padding-left: 50px;
  font-weight: 700;
}
